body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-size: 40px;
    background-image: url(table.jpg);
    background-size: cover;
    font-weight: bold;
}


h1 {
    color:  goldenrod;
    padding-top: 100px;
}

#message-el {
    font-style: italic;
}

button {
    width: 350px;
    background: goldenrod;
    color: #016f32;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 45px;
    margin-top: 2px;
    margin-bottom: 2px;
}